@font-face {
font-family: 'Mozblock-Regular';
src: url('Mozblock-Regular.eot');
src: url('Mozblock-Regular.eot?#iefix') format('embedded-opentype'), 
     url('Mozblock-Regular.woff') format('woff'), 
     url('Mozblock-Regular.ttf')  format('truetype'),
     url('Mozblock-Regular.svg#svgFontName') format('svg');
font-weight: normal;
font-style: normal;
}
